.main {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

/* .sideNavPosition {
  width: 15%;
  border: 5px solid green;
} */

.formatpage {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-right: -200px;
}

@media screen and (max-width: 768px) {
  .main {
    justify-content: left;
  }
  .formatpage {
    width: 100%;
  }
}
