.p {
  color: #303b54;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  width: 42px;
  height: 24px;

  font-style: normal;
  font-weight: 700;

  line-height: 24px;
}
