.button {
  text-align: center;
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #0a74dc;
  margin-bottom: 50px;
}
