.section {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 208px;
  height: 130px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 10px;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.entries {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
