aside {
  background: var(--brand-color);
  height: 100vh;
  width: 200px;
  padding-top: 30px;
}

.nav {
  background: var(--brand-color);
  /* display: flex; */
}

.aside,
.nav,
.navList {
  height: 100vh;
  background: var(--brand-color);
}

.navList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}

.navsections {
  margin-top: 10px;
}
