/* set html root font size and set overflow-x */
html {
  font-size: 16px;
  overflow-x: auto;
}
/* overide default styles */
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  /* overflow: auto; */
  font-family: sans-serif;
  position: relative;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #434854;
}

/* global variables */
:root {
  --brand-color: #031434;
  --ipad__and__phone: 700px;
}
